/p2yudha/build/
/p3yudha/nbproject/private/
/p3yudha/build/
/perc2-p1yudha/nbproject/private/
/perc2-p1yudha/build/
/perc2-p2yudha/nbproject/private/
/perc2-p2yudha/build/
/perc2p3yudha/nbproject/private/
/perc2p3yudha/build/
/Perc3p1yudha/nbproject/private/
/Perc3p1yudha/build/
/Perc3p2yudha/nbproject/private/
/Perc3p2yudha/build/
/Perc3p3yudha/nbproject/private/
/Perc3p3yudha/build/
/perc4p1yudha/nbproject/private/
/perc4p1yudha/build/
/perc4p2yudha/nbproject/private/
/perc4p2yudha/build/
/perc4p3yudha/nbproject/private/
/perc4p3yudha/build/
/fib1yudha/nbproject/private/
/fib1yudha/build/
/Fib2yudha/nbproject/private/
/Fib2yudha/build/
/Bookingfotowedding/nbproject/private/
/Bookingfotowedding/build/
/test conn/nbproject/private/
/test conn/build/
