/p2yudha/build/
/p3yudha/nbproject/private/
/p3yudha/build/
/perc2-p1yudha/nbproject/private/
/perc2-p1yudha/build/
/perc2-p2yudha/nbproject/private/
/perc2-p2yudha/build/
/perc2p3yudha/nbproject/private/
/perc2p3yudha/build/
/Perc3p1yudha/nbproject/private/
/Perc3p1yudha/build/
/Perc3p2yudha/nbproject/private/
/Perc3p2yudha/build/
/Perc3p3yudha/nbproject/private/
/Perc3p3yudha/build/
/perc4p1yudha/nbproject/private/
/perc4p1yudha/build/
/perc4p2yudha/nbproject/private/
/perc4p2yudha/build/
/perc4p3yudha/nbproject/private/
/perc4p3yudha/build/
/fib1yudha/nbproject/private/
/fib1yudha/build/
/Fib2yudha/nbproject/private/
/Fib2yudha/build/
/Bookingfotowedding/nbproject/private/
/Bookingfotowedding/build/
/test conn/nbproject/private/
/test conn/build/
/Perc6yudhap1abstract/nbproject/private/
/Perc6yudhap1abstract/build/
/perc6yudhap2interface/nbproject/private/
/perc6yudhap2interface/build/
/perc6yudhap3overloading/nbproject/private/
/perc6yudhap3overloading/build/
/Perc6yudhap3overriding/nbproject/private/
/Perc6yudhap3overriding/build/
/TestRemoteControl/nbproject/private/
/TestRemoteControl/build/
/Perc6yudhap1pascal/nbproject/private/
/BookingFoto/nbproject/private/
/BookingFoto/build/
/BookingFoto/dist/
/Perc6yudhap1pascal/build/
/Perc6yudhap2prima/nbproject/private/
/Perc6yudhap2prima/build/
/perc7p1yudha/nbproject/private/
/perc7p1yudha/build/
/perc7p2yudha/nbproject/private/
/perc7p2yudha/build/
/perc7p3yudha/nbproject/private/
/perc7p3yudha/build/
/Matriks/nbproject/private/
/Matriks/build/
/MetNum1/nbproject/private/
/MetNum1/build/
/MetNum2/nbproject/private/
/MetNum2/build/
/MetNum3/nbproject/private/
/MetNum3Regula/nbproject/private/
/MetNum3Regula/build/
/MetNum3Biseksi/nbproject/private/
/MetNum3Biseksi/build/
/metNum4Iterasi/nbproject/private/
/metNum4NewtonRaphson/nbproject/private/
/metNum4NewtonRaphson/build/
/MetNum6NewtonGaussSeidel/nbproject/private/
/MetNum6NewtonGaussSeidel/build/
/MetNum5EliminasiGaus/nbproject/private/
/metNum4Iterasi/build/
/MetNum7Differensiasi/nbproject/private/
/MetNum7Differensiasi/build/
/MetNum7SelTengah/nbproject/private/
/MetNum7SelTengah/build/
/MetNum8Reinmann/nbproject/private/
/MetNum8Reinmann/build/
